<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OrdenarListaDeNomes</servlet-name>
        <servlet-class>servlets.OrdenarListaDeNomes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenarListaDeNumeros</servlet-name>
        <servlet-class>servlets.OrdenarListaDeNumeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exe4</servlet-name>
        <servlet-class>servlets.Exe4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exe5</servlet-name>
        <servlet-class>servlets.Exe5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exe6</servlet-name>
        <servlet-class>servlets.Exe6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exe2</servlet-name>
        <servlet-class>Lista2.servlets.Exe2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exe3</servlet-name>
        <servlet-class>Lista2.servlets.Exe3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrdenarListaDeNomes</servlet-name>
        <url-pattern>/ordenarlistadenomes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenarListaDeNumeros</servlet-name>
        <url-pattern>/ordenarlistadenumeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exe4</servlet-name>
        <url-pattern>/exe4</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>exe4</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Exe5</servlet-name>
        <url-pattern>/exe5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exe6</servlet-name>
        <url-pattern>/Exe6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exe2</servlet-name>
        <url-pattern>/Lista2/exe2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exe3</servlet-name>
        <url-pattern>/Lista2/exe3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
