/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/02/2019, 13:16:51
    Author     : Marco
*/

.pagina1{
    background-color: buttonface; /*Cor de fundo branca*/
    padding: 5px;
    margin-top: 1px;/*Margen superior com 1 pixel*/
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 24%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 500px; /*Altura de 500 pixels*/
}
.pagina2{
    background-color: powderblue;/*Cor de fundo branca*/
    border-left: 10px;
    padding: 8px;/*Margen interna de 3 pixels*/
    float: right;/*propriedade indicando que a Área flutuará a direita*/
    margin-top: 1px;/*Margen superior com 1 pixel*/
    width: 74%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 494px;/*Altura de 494 pixels*/
}